/* Thème sombre */
@media (prefers-color-scheme: dark) {
    p {
        color: #FFFFFF; /* Couleur du texte en thème sombre */
    }
}

/* Thème clair */
@media (prefers-color-scheme: light) {
    p {
        color: #000000; /* Couleur du texte en thème clair */
    }
}

p {
    text-align: center; /* Centrer le paragraphe */
    margin-top: 30px;
}
